
.jumbotron{
    padding-top:6rem ;
    background-color: rgb(92, 90, 90);
}

#projects{
    background-color:rgb(92, 90, 90); 
}

#about{
    background-color: rgb(51, 49, 49); 
}

#contact{
    background-color:  rgb(51, 49, 49); 
}

section{
    padding-top: 5rem;
}